# Ignore massive raw datasets and archives
*.zip
*.fits
*.fit
*.gz

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env
backend/venv
frontend/node_modules/
frontend/dist/
ml/data